<phpunit bootstrap="vendor/autoload.php" colors="true" backupGlobals="false">
    <testsuite name="task/box">
        <directory>tests/src</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8" />
        <log type="coverage-clover" target="coverage.xml" charset="UTF-8" />
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
